<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title><%=title%></title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="icon" type="image/png" href="http://7vikb4.com1.z0.glb.clouddn.com/情人节_icon.jpg?imageView2/0/w/144/h/144">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="http://7vikb4.com1.z0.glb.clouddn.com/情人节_icon.jpg?imageView2/0/w/192/h/192">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="http://7vikb4.com1.z0.glb.clouddn.com/情人节_icon.jpg?imageView2/0/w/144/h/144">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="http://7vikb4.com1.z0.glb.clouddn.com/情人节_icon.jpg?imageView2/0/w/144/h/144">
    <meta name="msapplication-TileColor" content="#0e90d2">

    <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.1.0/css/amazeui.min.css">

    <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.amazeui.org/amazeui/2.1.0/js/amazeui.min.js"></script>

    <style>
        button {
            background-color: transparent;
            background-image: url(http://7vikb4.com1.z0.glb.clouddn.com/情人节_按钮2.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            border: none;
            outline: none;
            color: #ffffff;
            font-size: 140%;
        }

        button:hover {
            background-color: transparent;
            background-image: url(http://7vikb4.com1.z0.glb.clouddn.com/情人节_按钮2.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            border: none;
            outline: none;
            color: #ffffff;
            font-size: 140%;
        }

        button:focus {
            background-color: transparent;
            background-image: url(http://7vikb4.com1.z0.glb.clouddn.com/情人节_按钮1.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            border: none;
            outline: none;
            color: #ffffff;
            font-size: 140%;
        }


        button:active {
            background-color: transparent;
            background-image: url(http://7vikb4.com1.z0.glb.clouddn.com/情人节_按钮1.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            border: none;
            outline: none;
            color: #ffffff;
            font-size: 140%;
        }
        body{
            -moz-user-select:none;/*火狐*/
            -webkit-user-select:none;/*webkit浏览器*/
            -ms-user-select:none;/*IE10*/
            -khtml-user-select:none;/*早期浏览器*/
            user-select:none;
        }
    </style>

    <script>
        $(document).ready(function () {
            $("#lovebtn").click(function () {
                //模态窗口
                var $modal = $('#doc-modal-1');
                var re = /^1((3|5|8){1}\d{1}|70)\d{8}$/;
                if (re.test($("#phoneinput").val())) {
//                   alert("手机号码正确");
                    $("#lovebtn").attr("data-am-modal","{target: '#doc-modal-1', width: 310, height: 223}");
//                    $modal.modal('open');
                } else {
                    alert("手机号码格式错误");
                    return;
                }
//                $modal.modal();


                //网络请求
                $.post("http://flowerso2o.avosapps.com/coupon/add/phoneNumber",   // http://flowerso2o.avosapps.com/coupon/add/phoneNumber
                        {
                            couponId:'<%=couponId%>',
                            phoneNumber:$("#phoneinput").val()
                        },
                        function(data,status){

                            $modal.modal('close')
                            $("#lovebtn").attr("data-am-modal","");

                            //  alert(data.error);
                            if (status == 'success' && !data.error ) {

//                            alert("领取成功 : "+data.object);
                                $("#phoneinput").css("visibility", "hidden");
                                $("#lovebtn").css("visibility", "hidden");
                                $("#hiddeninputdiv").css("visibility", "visible");
                                $("#hiddentopdiv").css("visibility", "visible");
                                $("#dothidden").css("visibility", "visible");
                                $("#couponsUse").css("visibility", "visible");
                                $("#couponsText").css("visibility", "visible");
                                //成功

                                //刷新界面
                                $("#receviemoney").text("￥"+data.object/100);
                                $("#countInfo").text("已放入您的bloom账号("+ $("#phoneinput").val()+")");
                            }
                            else
                            {
                                // 失败
                                // $("#countInfo").text(data.error);
                                var erromsg = data.error;
                                if(!erromsg){
                                    erromsg = "请求失败";
                                }
                                else{
                                    // erromsg = JSON.stringify(erromsg);
                                    var code = erromsg.code;
                                    if(code == 777245)//已经领过
                                    {
                                        //$("#hiddentopdiv").attr("src","http://7vikb4.com1.z0.glb.clouddn.com/情人节_优惠券.jpg");
                                        $("#phoneinput").css("visibility", "hidden");
                                        $("#lovebtn").css("visibility", "hidden");
                                        $("#hiddeninputdiv").css("visibility", "visible");
                                        $("#hiddentopdiv").css("visibility", "visible");
                                        $("#dothidden").css("visibility", "visible");
                                        $("#couponsUse").css("visibility", "visible");
                                        $("#couponsText").css("visibility", "visible");
                                        //成功

                                        //刷新界面
                                        $("#couponsText").css("top", "23.86%");
                                        $("#receviemoney").css("font-size","200%");
                                        $("#receviemoney").text("您已领过红包");
                                        $("#countInfo").text("已放入您的bloom账号("+ $("#phoneinput").val()+")");
                                        return;

                                    }
                                }


                                setTimeout(function(){
                                    alert(erromsg);
                                },500);
                            }
                        });

            });

            //分享按钮
            $("#sharebtn").click(function () {
                $("#shareimg").css("visibility", "visible");
                $('html, body').animate({scrollTop:0});
            });
            //分享界面
            $("#shareimg").click(function () {
                $("#shareimg").css("visibility", "hidden");
            });
        });


    </script>


    <!--wecaht-->
    <div id='wx_pic' style='margin:0 auto;display:none;'>
        <img src='http://7vikb4.com1.z0.glb.clouddn.com/Screen_shot.png' />
    </div>

</head>
<body name="tips">

<div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-1" style="background-color: transparent"  >
    <div class="am-modal-dialog"  style="background-color: transparent" >
        <div class="am-modal-hd">
        </div>
        <div class="am-modal-bd" >
            <img src="http://7vikb4.com1.z0.glb.clouddn.com/情人节_加载.png" alt="" style="width: 100%;height: auto;margin-top: -50%"/>
            <p  style="position:absolute;width: 100%;height: auto;top: 80%;">等待幸福来敲门...</p>
        </div>
    </div>
</div>

<div class="am-modal am-modal-alert" tabindex="-1" id="my-alert">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">Amaze UI</div>
        <div class="am-modal-bd">
            Hello world！
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn">确定</span>
        </div>
    </div>
</div>

<img src="http://ac-g405gbtt.clouddn.com/hn4R8eFbbX4izeJeBwmTS49aT7XxXINHTJNiV1j5.png" alt="" style="width: 100%;height: auto;"/>
<img id="shareimg" src="http://7vikb4.com1.z0.glb.clouddn.com/情人节_分享.png" alt="" style="position:absolute;width: 100%;height: auto;top: 0;visibility: hidden;z-index: 3"/>


<input type="number" class="am-radius" id="phoneinput" placeholder="输入手机号,按下幸福键"
       style="position:absolute;width: 74%;height:3.0%;top: 23.86%;left: 13.3%;right: 11.875%;border: none;padding-left: 1em" required>

<div id="couponsText"
     style="position:absolute;width: 74%;top: 21%;left: 15%;right: 11.875%;text-align: center;visibility: hidden;z-index: 2;font-weight:bold; ">
    <p id="receviemoney" style="font-size:4em;margin-bottom: 0px;color: red">￥200</p>
</div>

<button id="lovebtn"
        data-am-modal=""
        style="position:absolute;width: 88%;height:4.0%;top: 44.5%;left: 6.5%;right: 6%; visibility:visible">幸福键</button>

<div id="couponsUse"
     style="position:absolute;width: 88%;height:12%;top: 45%;left: 6.5%;right: 6% ;text-align: center;z-index: 2;visibility: hidden; background-color:#ff9ab4">
    <!--<a style="width: 90%;height: 50%;" href="http://mp.weixin.qq.com/mp/redirect?url=http%3A%2F%2Fitunes.apple.com%2Fcn%2Fapp%2Fbloom%2Fid931918119%3Fmt%3D8"  class="am-btn am-btn-default"> 立即使用</a>-->
    <p id="countInfo" style="color: #ffffff;margin-top: -5%">已放入您的bloom账号</p>
    <button style="width: 90%;height: 30%;"
            href="http://mp.weixin.qq.com/mp/redirect?url=http%3A%2F%2Fitunes.apple.com%2Fcn%2Fapp%2Fbloom%2Fid931918119%3Fmt%3D8"
            onclick="javascript:document.location='http://mp.weixin.qq.com/s?__biz=MzAwNjEwOTMxMA==&mid=201801496&idx=1&sn=cdf04ac11fadc68cceb24a090c1cdbd7#rd'">
        <!--alert('iOS用户请前往AppStore搜索并下载bloom，来使用你的红包吧!')-->
        <!--window.open('http://mp.weixin.qq.com/mp/redirect?url=http%3A%2F%2Fitunes.apple.com%2Fcn%2Fapp%2Fbloom%2Fid931918119%3Fmt%3D8'-->
        立即使用</button>
    <button id="sharebtn" style="width: 90%;height: 30%;margin-top: 1.4em"  >分享</button>
</div>
<div id="dothidden" style="background-color:#ff9ab4; position:absolute;width: 5%;height:4%;top: 50%;left: 93%;visibility: hidden "></div>
<div id="coupons"
     style="position:absolute;width: 100%;height:36%;top: 51%; background-color:#ff9ab4;text-align: center;z-index: 1;visibility: hidden ">
    <h3 style="margin-top: 55%;">红包使用说明红包使用说明红包使用说明</h3>

    <h3 style="visibility: hidden">领取的优惠券如下</h3>

    <div style="width: 80%;height: 30%;margin-left: 10%;background-color: #009cda;text-align: center;visibility: hidden">我是优惠券</div>
    <div style="width: 80%;height: 30%;margin-left: 10%;margin-top:1em;background-color: #009cda;text-align: center;;visibility: hidden">
        我是优惠券
    </div>
</div>

<!-- 遮住输入框-->
<div id="hiddeninputdiv"  style="position:absolute;width: 82%;height:4.0%;top: 23.5%;left: 9%;right: 6%;background-color: #ffdbe6;visibility: hidden;z-index: 1"> </div>

<img  id="hiddentopdiv" src="http://7vikb4.com1.z0.glb.clouddn.com/情人节_优惠券.jpg" alt="" style="position:absolute;width: 100%;height:auto;top: 19.2%;visibility: hidden;z-index: 1"/>



</body>
</html>
