<html>

<head>

</head>

<body>

<code id="URL" style="visibility:hidden"><%= URL %></code>


<script language="javascript" type="text/javascript">

//    var fs = require('fs');
    var URL = document.getElementById("URL").innerHTML.replace(/&amp;/g,"&");
//    URL = URL.replace("&amp;","&");
//    alert(URL);
    //URL = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx099d898a32473ab9&redirect_uri=http://flowerso2o.avosapps.com/wechat/redirect_uri/123456&response_type=code&scope=snsapi_userinfo&state=1#wechat_redirect';
    window.location.href = URL;
</script>

<!--<script language="javascript" type="text/javascript">-->
    <!--window.location.href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx099d898a32473ab9&redirect_uri=http://flowerso2o.avosapps.com/wechat/redirect_uri/123456&response_type=code&scope=snsapi_userinfo&state=1#wechat_redirect";-->
<!--//    history.go("1");-->
    <!--//https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx099d898a32473ab9&redirect_uri=http://flowerso2o.avosapps.com/wechat/redirect_uri/123456&response_type=code&scope=snsapi_userinfo&state=1#wechat_redirect-->
<!--</script>-->

</body>

</html>